.section {
  padding: 1em 0;
}

.header {
  background-color: #383838;
  font-family: 'Arimo', sans-serif;
  color: #CECECE;
  padding: 1em 0 2em;
  text-align: center;
}

#topSliderText {
  font-family: 'Open Sans', sans-serif;
  background-color: #383838;
  font-family: 'Arimo', sans-serif;
  color: #CECECE;
}

#rightNumberTop, #rightNumberBottom{
  font-family: 'Open Sans', sans-serif;
  background-color: #383838;
  font-family: 'Arimo', sans-serif;
  color: #CECECE;
  float: right;
}

#arrows {
  font-family: 'Arimo', sans-serif;
  height: 80px;

}
#leftNumberTop, #leftNumberBottom{
  font-family: 'Open Sans', sans-serif;
  background-color: #383838;
  font-family: 'Arimo', sans-serif;
  color: #CECECE;
  float: left;
}

#centerSliderInfo {
  font-family: 'Open Sans', sans-serif;
  background-color: #383838;
  font-family: 'Arimo', sans-serif;
  color: #CECECE;
  float: center;
  text-align: center;
}

#sliderbuttons {
    text-align: center;
}

#slidernumber {
  font-size: 38px;
  font-family: 'Exo', sans-serif;
  color: #FFFFFF;
}

#leftNumber {
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  color: #FFFFFF;
  float: left;
}

#rightNumber{
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  color: #FFFFFF;
  float:right;
}

.state {
	color: #FFFFFF;
  stroke-width: 1px;
   font-family: 'Exo', sans-serif;
  
}

.statetext {
  color: #FFFFFF;
}

#chart svg {
  display: block;
  margin: 0 auto;
}
#chart2 svg {
  display: block;
  margin: 0 auto;
}

#slider {
  height:20px;
  margin: 0 auto;
  position: relative;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
 }

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.btn {
   position: 50%;
   outline:none;
  background: transparent;
  color: #CECECE;
  border: 1px solid color: #CECECE;;
  border-radius: 24px;
   outline:0;
}

.btn .btn-group-vertical{
    position: 50%;
   outline:none;
  background: transparent;
  color: #CECECE;
  border: 1px solid color: #CECECE;;
  border-radius: 24px;
   outline:0;
}

.hidden {
  display: none;
}

.vert {
  border-radius: ;
}
.btn:hover {
    position: 50%;
  background-color: #F57E20;
  color: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 24px;
}
.btn-group .btn:active{
  position: 50%;
  background: #F57E20;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:0;
}

.btn-group .btn:focus{
  position: 50%;
  background: #F57E20;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:0;
}

.btn-group-vertical .btn:active{
  position: 50%;
  background: #F57E20;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:none;
}

.btn-group-vertical .btn:hover{
  position: 50%;
  background: #F57E20;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:none;
}
.btn-group-vertical .btn:focus{
  position: 50%;
  background: #F57E20;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:none;
}

.btn-group-vertical .btn:visited{
  position: 50%;
  background: #F57E20;
  color: none;
  border: none solid #FFFFFF;
  border-radius: 24px;
  outline:none;
}

.btn:focus{
  background-color: #F57E20;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline: 0;
}
.btn.active{
  background-color: #F57E20;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:0;
}

.btn.focus{
  background-color: #F57E20;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:0;
}

a{
  color: #F57E20; 
}

body{
  font-family: 'Open Sans', sans-serif;
   background-color: #383838;
      font-family: 'Arimo', sans-serif;
      color: #CECECE;
}
h1,h2,h3,h4,h5,#slidertext,#topSliderText{
  font-family: 'Exo', sans-serif;
        color: #FFFFFF;
}